<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemleaf.org"
	xmlns:sec="http://www.thyemleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragment :: page_head('All Product', 'none')" />

<body>
	<!-- top-header -->
	<div th:replace="fragment :: top-header">
	</div>

	<!-- Button trigger modal(select-location) -->
	<div th:replace="fragment :: select-location">
	</div>
	<!-- //top-header -->

	<!-- header-bottom-->
	<div th:replace="fragment :: header-bot">
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div th:replace="fragment :: navbar-inner">
	</div>
	<!-- //navigation -->

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a th:href="@{'/'}">Home</a>
						<i>|</i>
					</li>
					<li>Electronics</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- top Products -->
	<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>M</span>obiles
				<span>&</span>
				<span>T</span>elevisions</h3>
			<!-- //tittle heading -->
			<div class="row">
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-12">
					<div class="wrapper">
						<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
							<div class="row">
								<div class="col-md-4 product-men" th:each="product : ${listProducts}">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img th:src="@{${product.photoPath}}" id="thumnail" alt="Product Photo"
												width=auto height="150">
<!--											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a th:href="@{/single}" class="link-product-add-cart">Quick View</a>
												</div>
											</div>-->
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<form th:action="@{/single}" th:method="get"
														modelAttribute="productCode">
														<input type="hidden" th:value="${product.code}" name="code">
														<button class="link-product-add-cart" th:method="get">Quick
															View</button>
													</form>
													<!--<a th:href="@{/single/{code}(code=${product.code})}" class="link-product-add-cart">Quick View</a>-->
												</div>
											</div>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<form th:action="@{/single}" th:method="get"
													modelAttribute="productCode">
													<input type="hidden" th:value="${product.code}" name="code">
													<input type="submit" th:method="get" th:value="${product.name}"
														class="button2link">
												</form>
											</h4>
<!--											<h4 class="pt-1">
												<a th:href="@{/single}" th:text="${product.name}">Infinix Hot S3</a>
											</h4>-->
											<div class="info-product-price my-2">
												<span class="item_price" th:text="${product.salePrice}">$300.00</span>
												<del th:text="${product.price}">$320.00</del>
											</div>
											<div
												class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out" style="margin-bottom: 100px">
												<form th:action="@{/addtocart}" method="get">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart" />
														<input type="hidden" name="add" value="1" />
														<input type="hidden" name="business" value=" " />
														<input type="hidden" name="item_name"
															th:value="${product.name}" />
														<input type="hidden" name="code" th:value="${product.code}" />
														<input type="hidden" name="amount"
															th:value="${product.salePrice}" />
														<input type="hidden" name="discount_amount"
															th:value="${product.price} - ${product.salePrice}" />
														<input type="hidden" name="currency_code" value="USD" />
														<input type="hidden" name="return" value=" " />
														<input type="hidden" name="cancel_return" value=" " />
														<input type="submit" name="submit" value="Add to cart"
															class="button btn" th:if="${product.quantity} > 0"/>
														<input type="submit" name="submit" value="Out of stock" disabled style="color: gray;"
															class="btn" th:unless="${product.quantity} > 0"/>
													</fieldset>
												</form>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- //product left -->
				<!-- product right -->
<!--				<div th:replace="fragment :: product-right">
				</div>-->
				<!-- //product right -->
			</div>
		</div>
	</div>
	<!-- //top products -->

	<!-- middle section -->
	<div th:replace="fragment :: middle-section">
	</div>
	<!-- middle section -->

	<!-- footer -->
	<footer th:replace="fragment :: footer">
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div th:replace="fragment :: copy-right">
	</div>
	<!-- //copyright -->

	<!-- js-files -->
	<div th:replace="fragment :: script">
	</div>
	<!-- //js-files -->

</body>

</html>
